export const labels = {
  toasts: {
    titles: {
      error: "Error",
      warning: "Warning",
      success: "Success",
      info: "Info",
    },
  },
  pages: {
    index: {
      title: "{{ appname }}",
      description: "{{ appname }}",
      buttons: {
        main: {
          label: "Click me!",
        },
      },
    },
    error: {
      title: "Error • {{ appname }}",
      description: "{{ appname }}",
      text: "Something went wrong.",
    },
  },
};
