<h1 align="center">{{ appname }} app</h1>

<div align="center">

{{ description }}

[![Lint]({{ repourl }}/actions/workflows/lint.yaml/badge.svg)]({{ repourl }}/actions/workflows/lint.yaml)
[![Image]({{ repourl }}/actions/workflows/image.yaml/badge.svg)]({{ repourl }}/actions/workflows/image.yaml)
{%- if registry %}
[![Registry]({{ repourl }}/actions/workflows/registry.yaml/badge.svg)]({{ repourl }}/actions/workflows/registry.yaml)
{%- endif %}
{%- if pages == 'app' %}
[![Deploy]({{ repourl }}/actions/workflows/deploy.yaml/badge.svg)]({{ repourl }}/actions/workflows/deploy.yaml)
{%- elif pages == 'docs' %}
[![Docs]({{ repourl }}/actions/workflows/docs.yaml/badge.svg)]({{ repourl }}/actions/workflows/docs.yaml)
{%- endif %}

</div>

---

## 💡 About

Treat this `README.md` as the landing page for people
that want to **use** your app.

Write here whatever you want to tell them.
{%- if pages == 'app' %}

## 🚀 Deployment

You can find the live app deployed
[here]({{ pagesurl }}).
{%- elif pages == 'docs' %}

## 📄 Further Reading

More in-depth documentation can be found
[here]({{ pagesurl }}).
{%- endif %}

## 💻 Development

Read more about how to develop the project
[here]({{ repourl }}/blob/main/CONTRIBUTING.md).
