import { lingui } from "@lingui/vite-plugin";
import react from "@vitejs/plugin-react";
import { defineConfig } from "vite";

const host = process.env.{{ envprefix }}__SERVER__HOST || "0.0.0.0";
const port =
  process.env.{{ envprefix }}__SERVER__PORT === undefined
    ? {{ port }}
    : parseInt(process.env.{{ envprefix }}__SERVER__PORT, 10);

// https://vitejs.dev/config/
export default defineConfig({
  build: {
    outDir: "build/",
  },
  plugins: [
    react({
      babel: {
        plugins: ["@lingui/babel-plugin-lingui-macro"],
      },
    }),
    lingui(),
  ],
  server: {
    host: host,
    port: port,
  },
});
